body{
    font-size: medium;
}

#editor {
    width: 500px;
    height: 400px;
    border: 1px solid #ccc;
    font-family: monospace;
    padding: 10px;
    background: #1e1e1e;
    color: #d4d4d4;
    resize: both;
    font-size: 1.2em;
}

#saveBtn {
    margin-top: 10px;
    padding: 6px 12px;
    cursor: pointer;
}

#info {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 1em;
    opacity: 0;
    width: 50%;
}
